* {
    font-family: sans-serif;
}


h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h3::first-letter {
    font-size: x-large;
}

p {
    line-height: 1.5em;
}

ul {
    line-height: 2.5em;
}

#article-author {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}